<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <button class="btn">Send</button>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>

</html>